Let's say that Rajya Laxmi Bank has given student loans to 10,000 people. However, the government wants to ensure that the bank is not giving risky loans and, hence, wants to know the “expected loss” of the bank’s student loan portfolio.



The expected loss is the expected value of the money lost by the bank due to people defaulting on their loans, i.e., not paying their EMIs.

Here,

Exposure at default (EAD) is the total money owed by the customer in case of default.

Recovery (R) is the percentage of the exposed money that the bank would be able to recover.

For example, in the example above, the bank would recover 20% of the exposed money, i.e., 20% * 11.5 = ₹2.3 lakh.

Probability of default (PD) is the probability that the customer will default. This is calculated for each customer using a number of factors such as family income, university attended, etc.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Inferential Statistics - Student Loan.csv')

data.shape

(10000, 6)

In [3]:
#dropping null columns
data.drop(['Unnamed: 4','Unnamed: 5'],axis=1,inplace=True)

#Fixing datatype for Recovery percentage
data['Recovery (%)'] = data['Recovery (%)'].apply(lambda x: float(x.rstrip('%')))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  float64
 3   Probability of Default             10000 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 312.6 KB

In [4]:
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00,0.0070
1,2,0.24,5.10,0.0033
2,3,0.04,24.86,0.0022
3,4,13.81,2.29,0.0066
4,5,19.84,3.47,0.0020

## Question 1:
Now, to find the expected loss, the bank has created the following table. As you already know, the probability of customer 1 being a defaulter is 0.007 and that of the customer not being a defaulter is 0.993. Now, in the case of default, what would be the value of X, i.e. the money lost by the bank?

Answer: Money lost by the bank is the loan amount they were unable to recover, once the customer is defaulted.
Definging money lost by the bank as X.
The value of Random variable X for customer number 1 is 9.2 lakh Rs.

In [9]:
data['X (Money Lost)'] = round(data['Exposure at Default (in lakh Rs.)'] - (data['Exposure at Default (in lakh Rs.)']*data['Recovery (%)'])/100,2)

In [10]:
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,X (Money Lost)
0,1,11.50,20.00,0.0070,9.20
1,2,0.24,5.10,0.0033,0.23
2,3,0.04,24.86,0.0022,0.03
3,4,13.81,2.29,0.0066,13.49
4,5,19.84,3.47,0.0020,19.15

## Question 2:
Now, the bank wants to find the total expected loss. This is done by calculating the expected losses for each of the 10,000 customers and then adding them up.

In [16]:
EV = (data['Probability of Default']*data['X (Money Lost)']).sum()

print('Total loss expected: ',round(EV,2),'lakh Rs.')

Total loss expected:  493.39 lakh Rs.